.opcoes_estado{
    width: 20rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    outline: 0;
    margin:0 15px 15px 0;
    display: block;
    background-color: rgb(18, 18, 43);
    font-family: 'Poppins';
    font-weight: 600;
    color: #fff;
}

@media (max-width: 1280px) {
    .opcoes_estado{
        width: 20vw;
    }
}

@media (max-width: 800px){
    .opcoes_estado{
        width: 30vw;
    }
}