/* styles/VideoPlayer.module.css */
.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  