.box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 30px 0;
}

.tam{
    display: flex;
    width: 80vw;
    height: 50rem;
    border-radius:30px ;
    background-color: rgb(18, 18, 43);  
}

.formulario{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.background {
    display: flex;
    flex: 1;
    background-image: url('../../assets/bg12.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    border-radius: 0 30px 30px 0;
  }
  

  @media (max-height: 800px) and (min-height:500px) {
    .box{
        height: 140vh;
    }
}

  @media (max-width: 1080px) {
    .background{
        display: none;
    }
    .tam{
        width: 60vw;
    }
}

@media (max-width: 800px){
    .tam{
        height: 150vh;
        width: 90vw;
    }
    .box{
        height: 200vh;
    }
}

@media (max-width: 800px) and (max-height:600px){
    .tam{
        height: 250vh;
        width: 80vw;
    }
    .box{
        height: 250vh;
    }
}