.box_inicial{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: rgb(18, 18, 43);
    flex-direction: column;
}
.box_inicial_two{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    background-color: rgb(32, 37, 90);
    flex-direction: column;
}

.container_inicial{
    width: 80%;
    height: auto;
}


.box_normal, .final{
    width: 100%;
    height: 85vh;
}

.final{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.final p {
    font-family: "Poppins";
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    line-height: 40px;
} 

.title_inicial{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 2rem;
    color: #fff;
    font-family: 'Argentum Sans', sans-serif;
    font-weight: 400;
}


.space_info{
    display: flex;
    width: 100%;
    height: 100%;
}

.text_inicial{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.text_inicial h2{
    font-family: 'Argentum Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    color: #68b2f8;
    font-size: 1.7rem;
}

.text_inicial p{
    font-family: "Poppins";
    font-size: 1.2rem;
    line-height: 30px;
}


.image_inicial{
    display: flex;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes pulsate {
    0% {
      box-shadow: 0 0 0 0 rgb(55, 0, 255);
    }
    70% {
      box-shadow: 0 0 25px 25px rgba(0, 0, 255, 0.329);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
    }
  }
  
  .img_wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  
  .img_wrapper::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: pulsate 3s ease-out infinite;
  }
  
  .img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  

.img_dois{
    width: 100%;
    height:75%;
}

.button_inicial{
    padding: 1rem 10rem;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.3rem;
    color: rgb(18, 18, 43);
    border: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
}

.button_inicial:hover{
    background-color: rgb(32, 37, 90);
    color: #fff;
    transition: 0.3s all linear;
}


@media (max-width: 1070px) {
    .text_inicial p{
        font-size: 0.8rem;
    }
}

@media (max-width: 830px) {
    .space_info{
        flex-direction: column;
    }
    .box_normal, .box_inicial_two{
        width: 100%;
        height: 130vh;
    }
    .box_inicial_two .image_inicial{
            display: none;
    }

    .image_inicial{
        align-items: flex-start;
    }

    .text_inicial p{
        text-align: center;
    }
    .text_inicial h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .title_inicial{
        margin-bottom: 10px;
    }
}

@media (max-width: 430px){
    .button_inicial{
        padding: 1rem 13vw;
    }
    .img_wrapper{
        display: none;
    }
    .image_inicial{
        flex: 0;
    }
}