.header{
    width: 100%;
}

.container{
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(18, 18, 43);
}

.logo{
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navegation{
    display: flex;
    flex: 9;
}

.menu_navegation{
    display: flex;
    flex: 1;
    height: 7vh;
    align-items: center;
    justify-content: center;
}


.sales_logo{
    width: 60px;
    height:45px ;

}

.ul, .li{
list-style: none;  
}

.ul{
    display: flex;
}

.ul .a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 40px;
    font-size: 1rem;
}

.ul .a:hover {
    text-decoration: none;
    color: #c7c7c7;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 40px;
    font-size: 1rem;
    transition: 0.5s all linear;
}


.login{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    text-decoration: none;
    color: #032D60;
}

.box_login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    border-radius: 20px;
    position: relative;
}

.menu_icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuHeader{
    width: 35px;
    height: 35px;
    display: none;
    position: absolute;
    
}

.menu_content {
    position: absolute;
    width: 150px;
    top: 7%; 
    transform: translateX(-1rem); 
    border-radius: 5px; 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2371cf;
}

.menu_content .ul {
    flex-direction: column; 
    padding: 10px 0; 
}

.menu_content .ul .li {
    margin-bottom: 10px;
}

.img_logo{
    width: 130px;
    height: 130px;
}


@media screen and (max-width: 770px) {
    .menuHeader{
        display:block;
        margin-left: -150px;
    }
    .menu_navegation {
    display: none; 
    }

    .info_navegation {
    display: none; 
    }
    .menu_content{
        transform: translateX(-5.5rem);
    }
    .ul .a {
        color: #ffffff;
    }
    
    .ul .a:hover {
        color: #ffffff;
    }
    

}
@media screen and (max-width: 570px) {
    .menuHeader{
        display:block;
        margin-left: -150px;
    }
    .menu_content{
        transform: translateX(-5.5rem);
    }
    .logo{
        display: flex;
        flex: 1;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        margin-left: 50px;
    }
    

}