.listLi{
    padding: 50px 50px;
    width: 80vw;
    border-radius:30px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

.listLi, .listUl{
    list-style: none;
}

.box_info_reporte{
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 25rem;
    margin-bottom: 50px;
}

.container_reporte{
    display: flex;   
    margin-top: 20px;
}

.dados_reporte{
    font-size: 0.9rem;
    font-weight: 400;
    color: #ffffff;
    margin: 10px 0;
    font-family: 'Poppins';
    width: 80%;
    word-wrap: break-word;
}

.span_dados{
    font-weight: 800;
}

.title_reporte{
    color: #68b2f8;
    font-size: 1.5rem;
    margin: 10px 0;
    width: 100%;
    margin: 30px 0 10px 0;
}

.title_reporte_space{
    color: #68b2f8;
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
    
}

.buttons_box{
    width: 100%;
    margin-top: 30px;
}

.button_reporte{
    padding: 10px 0;
    width: 15vw;
    border:0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Poppins';
    color: rgb(18, 18, 43);
    margin:20px 20px 30px 0;
}

.button_reporte:hover{
    background-color: rgb(32, 37, 90);
    color: #fff;
    transition: 0.3s all linear;
}



@media (max-width: 1140px){
    .container_reporte{  
        margin-top: 70px;
    }
}

@media (max-width: 900px){
    .container_reporte{  
       display: flex;
       flex-direction: column;
    }

    .button_reporte{
       width: 32vw;
    }
}



