@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(239, 239, 239);
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Poppins';

}